<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>  
    <ion-title>- TikAt Register -</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-item>
            <ion-input type="text" formControlName="name" label="Name" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" formControlName="surname" label="Surname" labelPlacement="floating"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="email" formControlName="email" label="Email" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" formControlName="password" label="Password" labelPlacement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" formControlName="confirmPassword" label="Confirm Password" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-button type="submit" [disabled]="registerForm.invalid" expand="block">Register</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>