<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>

          <ion-button type="submit" [disabled]="registerForm.invalid">Register</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>