<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>- TikAt -</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="auth-form">
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/register']" expand="block" color="tertiary">Register</ion-button>
        <span class="line-text">or</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>